@model IEnumerable<ExpenseViewModel>

@{
    ViewData["Title"] = "Expenses";
}

<h1 class="h1">Expenses</h1>
@await Html.PartialAsync("_ExpenseList", Model)


@* <script>
    $("#newExpenseBtn").click(function() {
    alert('I hate tomatoes.');
    });
</script> *@